<ion-view title="Home" id="page3" ng-controller="homeCtrl">
  <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-search" ui-sref="tabsController.search"></a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">
      <a ng-repeat="item in items" class="item item-thumbnail-left" ng-click="jobSelected(item)">
        <img ng-src={{item.projectOwner['picture']}} alt="No picture">
        <h4>{{item.projectOwner.displayName}}</h4>
        <p>{{item.projectOwner.description}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
