<ion-view title="Login" id="page6">
  <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="loginCtrl">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="postData.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="postData.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button type="submit" id="login-button2" class="button button-calm  button-block" ng-click="login()">Log in
      </button>
      <a ui-sref="signup" id="signup-button" class="button button-positive  button-block button-clear">Or create an
        account</a>
    </form>
  </ion-content>
</ion-view>
